:root {
  --classy-blue: #54ace3;
}

@font-face {
  font-family: 'SourceCodePro';
  src: url('/assets/fonts/SourceCodePro-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TjASc6CsQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1Mu51xIIzI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TzBic6CsQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Nunito Light Italic'), local('Nunito-LightItalic'), url(https://fonts.gstatic.com/s/nunito/v13/XRXQ3I6Li01BKofIMN4oZNvKUT8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Nunito Light'), local('Nunito-Light'), url(https://fonts.gstatic.com/s/nunito/v13/XRXW3I6Li01BKofAnsSUYevI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Nunito Italic'), local('Nunito-Italic'), url(https://fonts.gstatic.com/s/nunito/v13/XRXX3I6Li01BKofIMNaDRs4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v13/XRXV3I6Li01BKofINeaB.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Nunito Bold Italic'), local('Nunito-BoldItalic'), url(https://fonts.gstatic.com/s/nunito/v13/XRXQ3I6Li01BKofIMN44Y9vKUT8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Nunito Bold'), local('Nunito-Bold'), url(https://fonts.gstatic.com/s/nunito/v13/XRXW3I6Li01BKofAjsOUYevI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: Nunito, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0 0 0 0;
  background-color: #f5f5f5;
  overflow-x: hidden;
}

p {
  font-family: Nunito, Helvetica, sans-serif;
  overflow-wrap: break-word;
}

h1, h2, h3 {
	font-family: Roboto, Helvetica, sans-serif;
}

sup {
  line-height: 0;
  vertical-align: super;
  font-size: 80%;
}

dfn {
  font-weight: bold;
  font-style: normal;
}

code {
  font-family: SourceCodePro, monospace;
  background-color: #f5f5f5;
}

#header {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.13);
  background-color: white;
  width: 100%;
}

nav {
  padding: 0 0 .3em 0;
  width: 100%;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#logo {
  width: 30%;
  height: auto;
  max-width: 200px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#hamburger-button {
  display: none;
  position: absolute;
  top: 18px;
  left: 18px;
  cursor: pointer;
}

#hamburger-button > span {
  display: block;
  width: 30px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #757575;
  border-radius: 3px;
}

#navmenu {
  list-style: inside;
  text-align: center;
  padding-left: 0;
  width: 90%;
  max-width: 80em;
  margin-bottom: 1em;
}

#navmenu > li {
  color: #757575;
  display: inline-block;
  margin: 0 3% 0 3%;
}

.nodecor {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--classy-blue) !important;
}

a:visited.nodecor {
  text-decoration: none;
  color: inherit;
}

#front-page {
  width: 100%;
  box-sizing: border-box;
  padding: 2.5% 2.5% 0 2.5%;
}

#terminal-window {
  display: inline-block;
  width: 45%;
  min-width: 25em;
  border-radius: 5px;
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.3);
  margin-right: 30px;
  margin-bottom: 30px;
}

#terminal-title {
  font-family: SourceCodePro;
  display: flex;
  padding-left: 10px;
  border-radius: 5px 5px 0 0;
  background-color: #d6d6d6;
  height: 20px;
  align-items: center;
}

.terminal-button {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  font-size: 12px;
  text-align: center;
  margin-right: 6px;
}

#terminal-container {
  font-family: SourceCodePro;
  border-radius: 0 0 5px 5px;
  background-color: #1b1d1e;
  padding: 5px 5px 5px 0;
}

#terminal-container th, #terminal-container td {
  padding: 0 1em 0 0;
  border: none;
}

#terminal-container table {
  display: block;
  margin-bottom: 1em;
  width: 100%;
  border-collapse: collapse;
}

.terminal, .cmd, .terminal .terminal-output div div, .cmd .prompt, .cmd-wrapper {
  --size: 1.25;
  line-height: 1.5em;
}

.terminal {
  color: white !important;
}

.blinking-cursor {
  display: inline;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

#introduction {
  display: inline-block;
  vertical-align: top;
  color: #515659;
  max-width: 45%;
  margin: 10% 0 0 0;
  font-size: 120%;
}

#introduction * {
  margin: 0;
}

#introduction h1 {
  font-size: 300%;
}

#introduction h2 {
  margin: 0 0 .5em 0;
  color: var(--classy-blue);
}

#download-button {
  display: block;
  background-color: white;
  margin: 15px 10% 10px auto;
  border-width: 1px;
  border-color: #f5f5f5;
  border-radius: 15px;
  cursor: pointer;
}

#download-button:hover {
  color: var(--classy-blue);
  background-color: #fbfbfb;
}

#resume {
  display: block;
  margin: 0 auto 0 auto;
  width: 50%;
  min-width: 100%;
  vertical-align: top;
}

#tabs {
  display: inline-block;
  min-width: 9em;
  width: 20%;
  vertical-align: top;
}

#tabcontentcontainer {
  display: inline-block;
  min-width: 20em;
  width: 70%;
}

.tablink {
  display: block;
  float: right;
  margin: 0 1em 3em 100%;
  text-align: right;
  font-size: 125%;
  background-color: inherit;
  border: none;
  border-right: solid;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.tablink.active {
  border-color: var(--classy-blue);
  color: var(--classy-blue);
}

.tablink:hover {
  border-color: #6db6e3;
  color: #6db6e3;
}

.tabcontent {
  width: 100%;
  transition: fadeEffect 1s;
  -webkit-animation: fadeEffect 1s;
  -moz-animation: fadeEffect 1s;
  -ms-animation: fadeEffect 1s;
  -o-animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@-moz-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@-ms-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@-o-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.tabcontent h2 {
  margin: 0;
  color: #464646;
  line-height: 100%;
}

.tabheader {
  color: #5c5c5c;
}

.tabtitle {
  display: inline-block;
  box-sizing: border-box;
  width: 70%;
  margin: 0;
}

.tabright {
  display: inline-block;
  box-sizing: border-box;
  width: 30%;
  margin: 0;
  text-align: right;
}

.tabbody {
  color: slategray;
  white-space: normal;
  margin-bottom: 2em;
}

.tabbody ul {
  list-style-type: circle;
}

.tabbody ul>li {
  margin-bottom: .5em;
}

.tabbody table {
  margin-top: 1em;
}

.tabbody td, th {
  width: 12em;
  text-align: left;
}

.rightalign {
  float: right;
}

.postpreview {
  margin: 2em auto 2em auto;
  padding: .5em 1em .5em 1em;
  width: 80%;
  max-width: 800px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.13);
  background-color: white;
}

.postthumbnail {
  display: inline-block;
  box-sizing: border-box;
  width: calc(35% - 1em);
  height: 100%;
  vertical-align: top;
}

.postimage {
  display: block;
  width: 100%;
  height: auto;
}

.postdetails {
  display: inline-block;
  box-sizing: border-box;
  width: calc(65% - 1em);
}

.posttitle {
  color: #464646;
  margin-bottom: 0;
}

.postdate {
  font-style: italic;
  margin-top: 0;
}

.postblip {
  color: slategrey;
}

#article {
  margin: 2em auto 2em auto;
  padding: 2em;
  width: 90%;
  max-width: 1000px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.13);
}

#articleheader {
  margin-bottom: 1em;
}

#articleheader > h2, #articleheader > time {
  margin: 0;
}

#articledate {
  font-style: italic;
}

#articlecontent {
  line-height: 1.8em;
}

#articlecontent p {
  margin: 1.5em 0 1.5em 0;
}

#articlecontent li {
  margin-bottom: 1em;
}

#articlecontent img {
  max-width: 100%;
  height: auto;
}

figcaption {
  font-family: monospace;
  font-size: 80%;
  line-height: 1.2em;
  width: 90%;
  margin: auto;
}

.disclaimer {
  font-size: 12px;
}

blockquote {
  margin: 1.5em 1.5em 1.5em 0;
  padding-left: 1.5em;
  border-left: solid 2px #333333;
}

.collapsible {
  background-color: #dbdbdb;
  padding: 1em;
  border: none;
  outline: none;
  text-align: left;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  font-size: 100%;
}

.collapsible:after {
  content: '\02795';
  font-size: 80%;
  float: right;
  margin-left: 1em;
}

.collapsible.active:after {
  content: '\2796';
  font-size: 80%;
  float: right;
  margin-left: 1em;
}

.collapsiblecontent {
  padding: 0 1em;
  overflow: hidden;
  background-color: #e9e9e6;
  max-height: 0;
  transition: max-height .4s ease-out;
}

.prettyprint {
  overflow: auto !important;
  border: none !important;
  border-left: solid 5px !important;
  border-color: var(--classy-blue) !important;
  border-radius: 5px !important;
  background-color: #f5f5f5 !important;
}

.linenums > li {
  color: #8a8a8a;
}

.linenums > li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9 {
  list-style-type: decimal !important;
  margin-bottom: 0 !important;
  background-color: inherit !important;
}

.tooltip {
  position: relative;
}

.tipnumber {
  position: relative;
  bottom: .5em;
  font-size: 80%;
  font-weight: bold;
  text-decoration: underline;
  color: #3679e3;
  cursor: pointer;
}

.tiptextbox {
  position: absolute;
  width: 20em;
}

.tiptext {
  position: absolute;
  display: none;
  max-width: 20em;
  bottom: 0;
  overflow: auto;
  background-color: #f5f5f5;
  border: 1px solid black;
  padding: .5em;
  font-size: 80%;
  z-index: 100;
}

.bordered-table {
  border-collapse: collapse;
  display: table;
}

.bordered-table th, .bordered-table td {
  border: 1px solid black;
  width: auto;
  padding: 0 .5em 0 .5em;
  text-align: center;
}

@media screen and (max-width: 910px) {
  #front-page {
    display: table;
    max-width: 95%;
    border-spacing: 0 2em;
    margin: 0 auto 0 auto;
  }

  #introduction {
    display: table-header-group;
  }

  #terminal-window {
    display: table-footer-group;
    margin-right: 0;
    box-shadow: none;
  }

  #hamburger-button {
    display: block;
  }

  #navmenu {
    font-size: 16px;
    overflow: hidden;
    max-height: 0;
    margin-top: 0;
    transition: max-height .4s ease-out;
    margin-bottom: 0;
  }

  #navmenu > li {
    display: block;
    margin-bottom: 8px;
  }

  #terminal {
    display: block;
    width: 95%;
    box-sizing: border-box;
    margin: 0 auto 5% auto;
  }
}

@media screen and (max-width: 530px) {
  body {
    font-size: 14px;
  }

  #terminal {
    font-size: 3vw;
  }

  #tabs {
    min-width: 7em;
  }

  .tablink {
    font-size: 85%;
  }

  .postthumbnail {
    display: block;
    width: 70%;
    margin: auto;
  }

  .postdetails {
    display: block;
    width: 100%;
  }

  #download-button {
    margin: 15px auto 25px auto;
  }
}

@media screen and (max-width: 400px) {
  #tabs {
    display: block;
    width: 95%;
    margin: auto;
    text-align: center;
    margin-bottom: 1em;
  }

  .tablink {
    display: inline-block;
    float: none;
    margin: 0 0 1em 0;
    border: none;
    border-bottom: solid;
  }

  #tabcontentcontainer {
    display: block;
    margin: auto;
    width: 90%;
  }
}
