body {
    margin: 0;
}

h1, h3 {
    margin: 0px;
}

section {
    overflow: hidden;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav {
    height: 120px;
    width: 100%;
}

.container {
    margin: auto;
    width: 100%;
    max-width: 960px;
}

.logo {
    float: left;
    width: 140px;
    position: relative;
    top: 5px;
}

.menu {
    display: inline-block;
    float: right;
    width: 300px;
}

/* Target the child of the .menu class. In this case, li wasn't given a class, so just li.*/
.menu > li {
    font-size: 20px;
    display: inline-block;
}

.subtitle-wrapper {
    width: 100%;
}

.title {
    position: relative;
    top: 150px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.intro {
    padding-top: 50px;
    width: 50%;
    float: left;
}