
body {
    font-family: Helvetica;
}

.nav {
    background-color:#003350;
}

.menu {
    color: #ffffff;
    padding-top: 60px;
}

/* Target the child of the .menu class. In this case, li wasn't given a class, so just li.*/
.menu > li {
    font-size: 20px;
    padding: 0 10px 0 0; /* Padding goes, top, right, bottom, left. */
}

/* No need for a . or # because I am targeting a tag. */
header {
    background-image: url('../images/header.png');
    height: 421px;
    width: auto;
    background-position: center center;
}

.header-title {
    color: #ffffff;
    font-size: 48px;
    text-transform: uppercase;
}