
body {
    font-family: Helvetica;
}

.white {
    color: #ffffff;
}

.gray {
    color: #5f5f5f;
}

.nav {
    background-color:#000728;
}

.menu {
    color: #ffffff;
    padding-top: 60px;
}

/* Target the child of the .menu class. In this case, li wasn't given a class, so just li.*/
.menu > li {
    font-size: 20px;
    padding: 0 10px 0 0; /* Padding goes, top, right, bottom, left. */
}

/* No need for a . or # because I am targeting a tag. */
header {
    background-image: url('../images/headerBg.png');
    height: 733px;
    width: auto;
    background-position: center center;
    text-align: center;
}

.header-subtitle {
    display: block;
    font-size: 48px;
    font-weight: 100;
    margin: 200px auto 0 auto;
    background-color: #009ad6;
    width: 500px;
}

.title-image {
    display: block;
    margin: 0 auto 0 auto;
}

.go-to-classes {
    background-color: #009ad6;
    height: 150px;
    width: 100%;
}

.section-title {
    font-size: 30px;
    font-weight: 100;
    text-transform: uppercase;
}


.intro > p {
    color: #ffffff;
    font-size: 20px;
    margin-top: 15px;
}

.go-to-button {
    font-size: 40px;
    text-transform: uppercase;
    text-decoration: none;
    border: 5px solid #ffffff;    
    padding: 10px 30px;
}

.right {
    text-align: center;
}

.column {
    float: left;
    width: 50%;
}

.column img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    padding: 10px;
}

.works {
    padding-top: 20px;
    padding-bottom: 20px;
}